*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
     font-family: "Poppins", sans-serif;
     background-image: url(./images/bg-intro-desktop.png);
     background-color: hsl(0, 100%, 74%);
  }
  .container{
    width: 80%;
    min-width: 590px;
    height: 100vh;
    display: flex;
    gap: 5.5em;
    align-items: center;
    justify-content: flex-end;
    margin: 2em auto ;
    
  }
  .introSection{
    width: 50%;
    color: white;
  }
  .introSection h1{
    font-weight: 800;
    font-size: 2.5rem;
  }
  .introSection p{
    margin-top: 1.5em;
    font-weight: 300;
    font-size: 0.9rem;
  }
  .formSection{
    width: 45%;
  }
  #freeTrial{
    background-color: hsl(248, 32%, 49%);
    border-radius: 8px;
    color: white;
    font-size: 1.3rem;
    padding: 0.7em 2.7em;
    margin-bottom: 1.5em;
    box-shadow: 0 6px 0 0px rgba(0, 0, 0, 0.2);
  }
  #trial{
    font-weight: 300;
    font-size: 0.9rem;
  }
  form{
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 6px 0 0px rgba(0, 0, 0, 0.2);
  }
  input{
    width: 100%;
    height: 50px;
    padding-left: 2em;
    font-weight: 600;
     /* outline: none; */
    /* border: 1px solid hsl(0, 100%, 74%); */ 
    /* border-radius: 3px; */
  }
  input::placeholder{
    font-weight: 600;
  }
  input:focus{
    border: 1px solid hsl(248, 32%, 49%) !important;
  }
  button{
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    border: none;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 45px;
    border-radius: 4px;
    box-shadow: 0 3px 0 0px hsl(154, 40%, 51%);
  }
  button:hover{
    background-color: hsl(154, 77%, 64%) ;
    cursor: pointer;
    box-shadow: 0 3px 0 0px hsl(154, 60%, 61%);
  }
  #terms{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 1.2em;
    color: hsl(246, 25%, 77%);
  }
  a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
  }
  .errors{
    color: hsl(0, 100%, 74%);
    font-size: 0.7rem;
    margin:0.5em 0 1.4em;
    float: right;
    
  }
  .input-group{
    position: relative;
    margin-bottom: 1.4em;
  }
  .input-group svg{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .red-placeholder::placeholder {
    color: hsl(0, 100%, 74%);
    }
  @media(max-width:610px){
    .container{
      flex-direction: column;
      width: 80%;
      min-width: 300px;
      height: auto;
    }
    .formSection{
      width: 100%;
    }
    .introSection{
      width: 100%;
    }
    .introSection p{
      text-align: center;
    }
  }